<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= it.title %></title>
  <link rel="stylesheet" href="/public/css/main.min.css">
</head>
<body>
  <div class="max-w-7xl mx-auto">
    <header class="p-4 bg-gray-100 w-full flex items-center justify-between">
      <a href="/" class="no-underline">Logo</a>
      <nav>
        <ul class="flex space-x-4">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </nav>
    </header>
  </div>
  <%~ it.body %>
</body>
</html>
